<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <Properties>
        <Property name="project-name">cenxt-mrcp</Property>
<!--        <Property name="log-path">/applog/${project-name}</Property>-->
        <Property name="log-path">/tmp/${project-name}</Property>
    </Properties>

    <Appenders>
        <!--基于时间和size的FileAppender-->
        <RollingFile name="RollingFile" fileName="${log-path}/${project-name}.log"
                     filePattern="${log-path}/$${date:yyyy-MM}/${project-name}-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [${hostName}] [${project-name}] [%-5level] [%t] [%X{uuid}] %c{1} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="1000"/>
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT" ignoreExceptions="false">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [${hostName}] [${project-name}] [%-5level] [%t] [%X{uuid}] %c{1} - %msg%n"/>
        </Console>

    </Appenders>

    <Loggers>
        <Logger name="cn.cenxt" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>
</configuration>